.statistics {
	font-size: 20px;
}

.daystatistics__title,
.longtermstatistics__title {
	font-weight: 600;
	text-transform: uppercase;
}

.audiochallenge-day__title,
.sprint-day__title {
	font-weight: 600;
}

.statistics__page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	gap: 20px;
}

.daystatistics {
}

.longtermstatistics {
}
