.statistics {
	font-size: 20px;
}

.daystatistics__title,
.longtermstatistics__title {
	font-weight: 600;
	text-transform: uppercase;
}

.audiochallenge-day__title,
.sprint-day__title {
	font-weight: 600;
}
